$body-bg: #050509;            
$body-color: #f5eee3;         
$primary: #a86ce6;            
$secondary: #c9a24d;         
$success: #6fbf7f;
$danger: #c04747;
$warning: #d98b3b;
$info: #5f8fae;


$font-family-sans-serif: "Cormorant Garamond", system-ui, -apple-system, "Segoe UI", sans-serif;
$font-family-base: $font-family-sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "layout";
@import "components";
